<form [formGroup]="postalCodeForm" (ngSubmit)="onSubmit()">
  <input
    id="postalCode"
    type="number"
    formControlName="postalCode"
    placeholder="Code postal"
    class="mr-1 input-number-no-arrow"
  />
  <button
    type="submit"
    [disabled]="postalCodeForm.invalid"
    [class.cursor-pointer]="postalCodeForm.valid"
  >
    <i class="fa-solid fa-magnifying-glass pr-05"></i>Rechercher
  </button>
</form>
@if (isFiltersActive) {
  <div class="d-flex justify-content-end">
    <button
      (click)="reinitFilters()"
      title="Réinitialiser les filtres"
      class="cursor-pointer"
      [disabled]="!isFiltersActive"
    >
      <i class="fa-solid fa-xmark pr-05"></i> Réinitialiser
    </button>
  </div>
}
