<div class="container h-100 w-100">
  <app-header-information
    class="column-one-row-one ml-1 mr-1"
  ></app-header-information>
  <app-buildings-list
    [buildingArray]="buildingArray"
    class="d-flex column-one-row-two w-100"
    (loadMoreData)="launchNextPageLoading()"
    [(isLoading)]="isListLoading"
  ></app-buildings-list>
  <app-map
    [initialBuildingArray]="buildingArray"
    [newBuildingArray]="addedBuildingForMap"
    class="column-two"
  ></app-map>
</div>

@if (isBuildingDataLoading()) {
  <div
    class="p-absolute t-0 r-0 z-1000 bg-white border-rounded-bottom-left opacity-08 w-5"
  >
    <div class="loader">
      <app-spinner-leaky></app-spinner-leaky>
    </div>
    <p class="m-0 font-size-07 grey d-flex justify-content-center">
      Chargement...
    </p>
  </div>
}

<app-building-details
  [building]="selectBuilding()"
  [(isVisible)]="isDetailsVisible"
></app-building-details>
