/** Varaibles **/
:root {
    /** Colors **/
    --blue-dark: #071C33;
    /** Background colors **/
    --bg-white: #ffffff;
}

.leaflet-marker-icon {
    display: flex;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/** Colors **/
.blue-dark { color: var(--blue-dark) }

/** Background colors **/
.bg-white {
  background-color: var(--bg-white);
}

/** Padding **/
.p-0 {
  padding: 0;
}
